In [12]:
n=int(input("Enter number:"))
for i in range (n):
    print((' '*(n-i))+('* '*i))

Enter number:10

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [19]:
#print multiplication table
for i in range (1,13):
    for j in range (1,13):
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10 11 12
2 4 6 8 10 12 14 16 18 20 22 24
3 6 9 12 15 18 21 24 27 30 33 36
4 8 12 16 20 24 28 32 36 40 44 48
5 10 15 20 25 30 35 40 45 50 55 60
6 12 18 24 30 36 42 48 54 60 66 72
7 14 21 28 35 42 49 56 63 70 77 84
8 16 24 32 40 48 56 64 72 80 88 96
9 18 27 36 45 54 63 72 81 90 99 108
10 20 30 40 50 60 70 80 90 100 110 120
11 22 33 44 55 66 77 88 99 110 121 132
12 24 36 48 60 72 84 96 108 120 132 144

In [28]:
#count the number of A,T,G,C nucleotides in this DNA="ATGCGATACGCTTGA" SEQUENCE
nucleotides='ATGCGATACGCTTGA'
A_count=0
G_count=0
T_count=0
C_count=0
for i in nucleotides:
    if i=='A':
        A_count+=1
    elif i=='G':
        G_count+=1
    elif i=='T':
        T_count+=1
    elif i=='C':
        C_count+=1
print("Number of A: " ,A_count)
print("Number of G: " ,G_count)
print("Number of T: " ,T_count)
print("Number of C: " ,C_count)

Number of A:  4
Number of G:  4
Number of T:  4
Number of C:  3