In [1]:
#Calculate the multiplication or sum of two numbers
n1=int(input("Enter number1: "))
n2=int(input("Enter number2: "))
operation=input()
if operation=="+":
    print("Sum: ",(n1+n2))
elif operation=="*":
    print("Multiplication: ",(n1*n2))

Enter number1: 4
Enter number2: 8
*
Multiplication:  32

In [ ]:
#given two integer numbers, write a python program to return their product only if the product is equal to or lower than 1000,
#otherwise return there sum

In [5]:
n1=int(input("Enter number1: "))
n2=int(input("Enter number2: "))
product=n1*n2
if product<=1000:
    print(product)
else:
    print("Sum:",n1+n2)

Enter number1: 456
Enter number2: 4
Sum: 460

In [ ]:
#write a pyhton program that takes an integer input from the user and prints whether the number is even or odd

In [7]:
n=int(input("Input:"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Input:23
Odd

In [ ]:
#find the average of alist of numbers

In [10]:
num=[5,5,4,2,6,8]
sum=0
for i in num:
    print(i)
    sum=sum+i
average=sum/len(num)
print("Average: ",average)

5
5
4
2
6
8
Average:  5.0

In [ ]:
#count Vowels in a string

In [18]:
letters="apple"
count=0
for i in letters:
    print(i)
    if i=='a':
        count+=1
    elif i=='e':
        count+=1
    elif i=='i':
        count+=1
    elif i=='o':
        count+=1
    elif i=='u':
        count+=1
print("Number of Vowels: ",count)

a
p
p
l
e
Number of Vowels:  2

In [ ]:
#Generate fibonacci series

In [19]:
n=int(input("Number: "))
f1=0
f2=1
print(f1)
print(f2)
for i in range(0,n):
    fib=f1+f2
    print(fib," ")
    f1=f2
    f2=fib

Number: 8
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Check if a Number is prime

In [23]:
n=int(input("Number:"))
prime=True
for i in range(2,n):
    if(n%i==0):
        prime=False
        break
if prime:
    print("It's a prime.")
else:
     print("It's not a prime.")

Number:6
It's not a prime.

In [ ]:
#Convert Celsius to fahrenheit

In [24]:
n=float(input("Celsius:"))
fh=(n*1.8)+32
print("Fahrenheit: ",fh)

Celsius:37
Fahrenheit:  98.60000000000001

In [1]:
n=int(input("Number:"))
for i in range(1,n):
   print('*'*i)

Number:5
*
**
***
****

In [11]:
n=int(input("Number:"))
for i in range(n,0,-1):
    print('*'*i)

Number:5
*****
****
***
**
*